{"openapi": "3.0.0", "info": {"version": "6.5", "title": "Anaconda Server API"}, "servers": [{"url": "https://api.anaconda.cloud/api"}], "tags": [{"name": "system", "description": "System endpoints - version, health, etc."}, {"name": "auth", "description": "Authentication endpoints"}, {"name": "account", "description": "User account actions"}, {"name": "artifacts", "description": "Artifact endpoints - search, retrieve, mirror"}, {"name": "users", "description": "User role management endpoints (CRUD is managed separately)"}, {"name": "groups", "description": "Group management endpoints"}, {"name": "channels", "description": "Channel management endpoints"}, {"name": "tags", "description": "Tags"}], "paths": {"/installers": {"get": {"tags": ["installers"], "summary": "Get list of miniconda installers available for download.", "operationId": "repo.endpoints.installers.list_installers", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Installers"}}}}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/installers/{installer_name}": {"get": {"tags": ["installers"], "summary": "Donwload miniconda installer from mounted installers.zip", "operationId": "repo.endpoints.installers.download_installer", "parameters": [{"$ref": "#/components/parameters/installer_name-parameter"}], "responses": {"200": {"description": "successfully found the resource to download"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/external-docs": {"get": {"tags": ["docs"], "summary": "Redirect a user to the right documentation location", "operationId": "repo.endpoints.system.get_external_docs", "responses": {"302": {"description": "redirect to the current documentation of Anaconda Server"}}}}, "/system": {"get": {"tags": ["system"], "summary": "Get system information such as health, version, etc.", "operationId": "repo.endpoints.system.health", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/System"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/system/stats": {"get": {"tags": ["system"], "summary": "Get system stats such as disk usage, etc.", "operationId": "repo.endpoints.system.stats", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SystemStats"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/system/metrics": {"get": {"tags": ["system"], "summary": "Get system metrics in OpenMetrics format", "operationId": "repo.endpoints.system.metrics", "parameters": [{"in": "query", "name": "name[]", "required": false, "description": "metrics name filter", "schema": {"type": "array", "items": {"type": "string"}}}], "responses": {"200": {"description": "Exported metrics", "content": {"application/openmetrics-text": {"schema": {"type": "string"}}, "application/json": {"schema": {"$ref": "#/components/schemas/OpenMetrics"}}}}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/system/history": {"get": {"tags": ["account"], "summary": "Get full history of all system events", "operationId": "repo.endpoints.system.history", "parameters": [{"$ref": "#/components/parameters/event-types-query"}, {"$ref": "#/components/parameters/user-id-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successful retrieval of history", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountHistory"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/system/scopes": {"get": {"tags": ["system"], "summary": "Get all possible scopes in system", "operationId": "repo.endpoints.system.scopes", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/system/resource_types": {"get": {"tags": ["system"], "summary": "Get all possible resource types, used for role management", "operationId": "repo.endpoints.system.resource_types", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "string"}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/system/license": {"get": {"tags": ["system"], "summary": "Get current license information", "operationId": "repo.endpoints.system.get_license", "responses": {"200": {"description": "Current license information", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductLicense"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "post": {"tags": ["system"], "summary": "Add license key", "operationId": "repo.endpoints.system.post_license", "requestBody": {"description": "Activate the license", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProductLicenseRequest"}}}}, "responses": {"200": {"description": "Current license information"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "put": {"tags": ["system"], "summary": "Update or re-activate license key", "operationId": "repo.endpoints.system.put_license", "responses": {"202": {"description": "Accepted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/system/settings": {"get": {"tags": ["system"], "summary": "Get current system settings", "operationId": "repo.endpoints.system.get_settings", "responses": {"200": {"description": "System settings", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SystemSettings"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "put": {"tags": ["system"], "summary": "Update system settings", "operationId": "repo.endpoints.system.update_settings", "requestBody": {"description": "System settings", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SystemSettings"}}}}, "responses": {"200": {"description": "Current system settings"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/diagnose/blobs": {"post": {"tags": ["diagnosis"], "summary": "Diagnose", "operationId": "repo.endpoints.diagnosis.blobs.troubleshoot_routes_blobs", "description": "## Troubleshoots routes and blobs in the database.\n* If the blobs of active routes of given channel name(s) are not available, mark the active routes as passive. \nIf the channel name list is not given, then do the process for all channel artifacts.\n* Return the list of routes updated\n* Identify the index blobs in the database as per the channel names given or for all \nchannels (if list is not given) so that admin can analyse it and decide about removing the index blobs\n", "requestBody": {"description": "request body for diagnosis", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiagnosisRequest"}}}}, "responses": {"200": {"description": "Analyse missing blobs", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiagnoseRoutesAndBlobs"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/auth/login": {"post": {"tags": ["auth"], "summary": "Authenticate user", "operationId": "repo.endpoints.auth.login", "requestBody": {"description": "Get user token by providing credentials", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginRequest"}}}}, "responses": {"200": {"description": "Token information", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/auth/logout": {"get": {"tags": ["auth"], "operationId": "repo.endpoints.auth.logout_get", "responses": {"302": {"description": "successful redirect a user"}}}}, "/auth/authorize": {"get": {"tags": ["auth"], "summary": "Initiates authentication flow", "operationId": "repo.endpoints.auth.openidc_authorize", "responses": {"200": {"description": "returns the redirect_rul", "content": {"application/json": {"schema": {"type": "object", "properties": {"redirect_url": {"type": "string"}}}}}}}}}, "/auth/callback/kc": {"get": {"tags": ["auth"], "parameters": [{"in": "query", "name": "code", "required": true, "schema": {"type": "string"}, "description": "authorization_code from OpenID provider"}, {"in": "query", "name": "state", "schema": {"type": "string"}}, {"in": "query", "name": "redirect_uri", "schema": {"type": "string"}}], "summary": "Callback endpoint, used for final redirect from the OpenID connect provider", "operationId": "repo.endpoints.auth.openidc_callback_keycloak", "description": "kc means Keycloak, could be potentially extended with different providers", "responses": {"302": {"description": "redirects to index page and sets the corresponding cookies"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}}}}, "/account/register": {"post": {"x-not-implemented": "red", "tags": ["account"], "summary": "This allows a non-user to create an user", "operationId": "repo.endpoints.account.register", "requestBody": {"description": "registered new user with provided payload", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "responses": {"200": {"description": "successful operation"}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "deprecated": true}}, "/account/register/{account_id}": {"get": {"x-not-implemented": "red", "tags": ["account"], "summary": "Once a new user is registered they must confirm their registration via an email", "description": "When a new account is registered, it must first be confirmed before full access is granted. An email will be sent to the email address used during registration. There will be a link in that email that points to https://server.com/register/{accountid}", "operationId": "repo.endpoints.account.register_confirm", "parameters": [{"in": "path", "name": "account_id", "schema": {"type": "string"}, "description": "the uuid in the link of the confirmation email", "required": true}], "responses": {"200": {"description": "successful operation"}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/account/unregister": {"post": {"x-not-implemented": "red", "tags": ["account"], "summary": "This allows a user to unregister their account", "description": "If the user wants to unregister their account from repo, this endpoint uses the currently logged in user to unregister. A confirmation email will be sent to the registered address before unregistration is complete.", "operationId": "repo.endpoints.account.unregister", "responses": {"200": {"description": "successfully triggered unregistration"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/account/unregister/{account_id}": {"get": {"x-not-implemented": "red", "tags": ["account"], "summary": "This is confirm that the user does want to unregister their account from repo", "description": "This endpoint will normally be called due to the user confirming their unregistration from the confirmation email they received", "operationId": "repo.endpoints.account.unregister_confirm", "parameters": [{"in": "path", "name": "account_id", "schema": {"type": "string"}, "description": "the uuid in the link of the confirmation email", "required": true}], "responses": {"200": {"description": "successful operation"}, "400": {"$ref": "#/components/responses/BadRequest"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/account": {"get": {"x-not-implemented": "yellow", "tags": ["account"], "summary": "This gets the account data for the currently logged in user.", "description": "The platform will know what user to get data for by using the JWT token.There is no need to query parameters", "operationId": "repo.endpoints.account.get_account", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Account"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "put": {"x-not-implemented": "red", "tags": ["account"], "summary": "Edit the currently logged in user's account", "description": "The user that is currently logged in is determined by the JWT token that is available", "operationId": "repo.endpoints.account.edit_account", "requestBody": {"description": "pass the schema properties edited", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountUpdateRequest"}}}}, "responses": {"200": {"description": "successful operation"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}, "delete": {"x-not-implemented": "red", "tags": ["account"], "summary": "Delete the account temporarily until confirmed", "operationId": "repo.endpoints.account.delete", "responses": {"200": {"description": "successful deletion"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/account/tokens": {"get": {"tags": ["account"], "summary": "Get user tokens for current account", "description": "Returns the list of created token by this user, either `scope` or `resource` type.", "operationId": "repo.endpoints.tokens.user_tokens.list_tokens", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenList"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "post": {"tags": ["account"], "summary": "Create a new user token", "description": "Give access to allow user to do specific actions on one or more resources", "operationId": "repo.endpoints.tokens.user_tokens.post_token", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenCreateRequest"}}}}, "responses": {"200": {"description": "Created token object, which also contains the token itself and id of the token", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenCreateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/account/token-info": {"get": {"tags": ["account"], "summary": "Get information about the current user token, provided with X-Auth header", "operationId": "repo.endpoints.tokens.user_tokens.info", "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenInfo"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"user_token": []}]}}, "/account/tokens/{token_id}": {"put": {"tags": ["account"], "summary": "Update user token information", "operationId": "repo.endpoints.tokens.user_tokens.put_token", "description": "By default reissues a new token and returns in `token` attribute. If `reissue_token` query parameter is false, then token is not reissued and old value is used. The api returns `null` as a token in this case.\n", "parameters": [{"$ref": "#/components/parameters/token_id-parameter"}, {"$ref": "#/components/parameters/reissue_token-query"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateRequest"}}}}, "responses": {"200": {"description": "Updated token object, which also contains the token itself", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "delete": {"tags": ["account"], "summary": "Delete specific user token", "operationId": "repo.endpoints.tokens.user_tokens.delete_token", "parameters": [{"$ref": "#/components/parameters/token_id-parameter"}], "responses": {"204": {"description": "Token is deleted"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/account/tokens/{token_id}/metadata": {"put": {"tags": ["users"], "summary": "Update user token metadata", "operationId": "repo.endpoints.tokens.user_tokens.put_token_metadata", "description": "Updates token metadata\n", "parameters": [{"$ref": "#/components/parameters/token_id-parameter"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateMetadataRequest"}}}}, "responses": {"200": {"description": "Updated token object, which also contains the token itself", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/users/{user_id}/tokens": {"get": {"tags": ["users"], "summary": "Get user tokens for current account by admin user", "description": "Returns the list of created token by this user, either `scope` or `resource` type. Token list includes also `token_hash`.\n", "operationId": "repo.endpoints.tokens.admin_user_tokens.list_tokens", "parameters": [{"$ref": "#/components/parameters/user_id-parameter"}], "responses": {"200": {"description": "successful operation", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenList"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "post": {"tags": ["users"], "summary": "Create a new user token by admin user", "description": "Give access to allow user to do specific actions on one or more resources", "operationId": "repo.endpoints.tokens.admin_user_tokens.post_token", "parameters": [{"$ref": "#/components/parameters/user_id-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenCreateRequest"}}}}, "responses": {"200": {"description": "Created token object, which also contains the token itself and id of the token", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenCreateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/users/tokens": {"post": {"tags": ["users"], "summary": "Bulk update of token information for users", "operationId": "repo.endpoints.tokens.admin_user_tokens.list_users_tokens", "description": "By default reissues a new tokens and returns a UsersTokens object with tokens,  successful_updated_users and unsuccessful_updated_users attributes. If `reissue_token` query parameter is false, then tokens are not reissued and old values are used. The api returns `null` as a token in this case.\n", "parameters": [{"$ref": "#/components/parameters/with_hash-query"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersTokenGetRequest"}}}}, "responses": {"200": {"description": "Updated users tokens object, which also contains the tokens itself", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersTokensGetResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "put": {"tags": ["users"], "summary": "Bulk update of token information for users", "operationId": "repo.endpoints.tokens.admin_user_tokens.put_tokens", "description": "By default reissues a new tokens and returns a UsersTokens object with tokens,  successful_updated_users and unsuccessful_updated_users attributes. If `reissue_token` query parameter is false, then tokens are not reissued and old values are used. The api returns `null` as a token in this case.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersTokenUpdateRequest"}}}}, "responses": {"200": {"description": "Updated users tokens object, which also contains the tokens itself", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersTokenUpdateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/users/{user_id}/tokens/{token_id}": {"put": {"tags": ["users"], "summary": "Update user token information", "operationId": "repo.endpoints.tokens.admin_user_tokens.put_token", "description": "By default reissues a new token and returns in `token` attribute. If `reissue_token` query parameter is false, then token is not reissued and old value is used. The api returns `null` as a token in this case.\n", "parameters": [{"$ref": "#/components/parameters/user_id-parameter"}, {"$ref": "#/components/parameters/token_id-parameter"}, {"$ref": "#/components/parameters/reissue_token-query"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateRequest"}}}}, "responses": {"200": {"description": "Updated token object, which also contains the token itself", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "delete": {"tags": ["users"], "summary": "Delete specific user token", "operationId": "repo.endpoints.tokens.admin_user_tokens.delete_token", "parameters": [{"$ref": "#/components/parameters/user_id-parameter"}, {"$ref": "#/components/parameters/token_id-parameter"}], "responses": {"204": {"description": "Token is deleted"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/users/{user_id}/tokens/{token_id}/metadata": {"put": {"tags": ["users"], "summary": "Update user token metadata", "operationId": "repo.endpoints.tokens.admin_user_tokens.put_token_metadata", "description": "Updates token metadata\n", "parameters": [{"$ref": "#/components/parameters/user_id-parameter"}, {"$ref": "#/components/parameters/token_id-parameter"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateMetadataRequest"}}}}, "responses": {"200": {"description": "Updated token object, which also contains the token itself", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserTokenUpdateResponse"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/account/history": {"get": {"tags": ["account"], "summary": "Get the history logs for the account", "operationId": "repo.endpoints.account.history", "parameters": [{"$ref": "#/components/parameters/event-types-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successful retrieval of history", "content": {"application/json": {"schema": {"type": "object", "properties": {"items": {"$ref": "#/components/schemas/AccountHistory"}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/account/history/ws": {"get": {"tags": ["account", "websocket"], "operationId": "repo.endpoints.account.publish_events", "parameters": [{"name": "timeout", "in": "query", "required": false, "schema": {"type": "integer", "default": 5000}}, {"$ref": "#/components/parameters/event-types-query"}], "responses": {"101": {"description": "Read-only websocket with new events", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountHistory"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}}, "security": [{"jwt": []}]}}, "/account/logs": {"get": {"x-not-implemented": "red", "tags": ["account"], "summary": "Get the audit logs for the account", "description": "this gets the logs for the account and if the account is owned by an admin user then it retrieves the logs for everyone. maybe that's too much", "operationId": "repo.endpoints.account.logs", "parameters": [{"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/created-query"}, {"$ref": "#/components/parameters/updated-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successful retrieval of logs", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AccountAuditLog"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/account/channels": {"get": {"tags": ["account"], "summary": "Get channels the user has access to", "operationId": "repo.endpoints.channels.channels.list_my_channels", "parameters": [{"$ref": "#/components/parameters/permission-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/include-subchannels"}, {"$ref": "#/components/parameters/channel-sort-query"}], "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Channel"}}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/account/permissions": {"get": {"tags": ["account"], "summary": "Get the permissions for this user's account", "operationId": "repo.endpoints.account.get_user_permissions", "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/UserPermission"}}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/account/scopes": {"get": {"tags": ["account"], "summary": "Get the scopes for specific user account", "operationId": "repo.endpoints.account.get_user_scopes", "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"type": "object", "properties": {"scopes": {"type": "string"}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/users": {"get": {"tags": ["users"], "summary": "Get list of users for the group editing", "operationId": "repo.endpoints.users.list_users", "parameters": [{"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/offset-query"}], "responses": {"200": {"description": "successfully retrieved users", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/GroupMember"}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "post": {"x-not-implemented": "red", "tags": ["users"], "summary": "Admin Only! Create user (handled by IDP for now)", "description": "Admin only. This can only be done by the logged in user.", "operationId": "repo.endpoints.users.post", "requestBody": {"description": "create user with provided payload", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "responses": {"200": {"description": "successful operation"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/users/{user_id}": {"get": {"x-not-implemented": "red", "tags": ["users"], "summary": "Admin Only! get individual user by user id (handled by IDP for now)", "operationId": "repo.endpoints.users.get", "parameters": [{"in": "path", "name": "user_id", "schema": {"type": "string"}, "required": true}], "responses": {"200": {"description": "successfully retrieved single user", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}, "put": {"x-not-implemented": "red", "tags": ["users"], "summary": "Admin Only! Edit the individual user role by user id", "operationId": "repo.endpoints.users.put", "parameters": [{"in": "path", "name": "user_id", "schema": {"type": "string"}, "required": true}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "description": "the user's id"}, "role": {"type": "string", "enum": ["user", "author", "admin"]}}}}}}, "responses": {"200": {"description": "successfully edited single org", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}, "delete": {"x-not-implemented": "red", "tags": ["users"], "summary": "Admin Only! delete user (handled by IDP for now)", "operationId": "repo.endpoints.users.delete", "parameters": [{"in": "path", "name": "user_id", "schema": {"type": "string"}, "required": true}], "responses": {"200": {"description": "successfully deleted user"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/users/{user_id}/activity": {"get": {"x-not-implemented": "red", "tags": ["users"], "summary": "Get the activity logs for the specific user", "operationId": "repo.endpoints.users.logs", "parameters": [{"in": "path", "name": "user_id", "schema": {"type": "string"}, "required": true}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successfully retrieved the activity logs for the user", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserLogs"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}], "deprecated": true}}, "/roles": {"get": {"tags": ["users"], "summary": "Get the list of available roles", "operationId": "repo.endpoints.roles.list_roles", "responses": {"200": {"description": "get all roles", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/AuthRole"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "post": {"tags": ["users"], "summary": "Adds a new role", "operationId": "repo.endpoints.roles.post_role", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthRole"}}}}, "responses": {"200": {"description": "the role object", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthRole"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/roles/{role_id}": {"put": {"tags": ["users"], "summary": "Edit the role", "operationId": "repo.endpoints.roles.put_role", "parameters": [{"$ref": "#/components/parameters/role_id-parameter"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthRole"}}}}, "responses": {"200": {"description": "get all roles", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthRole"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "delete": {"tags": ["users"], "summary": "Delete the role", "operationId": "repo.endpoints.roles.delete_role", "parameters": [{"$ref": "#/components/parameters/role_id-parameter"}], "responses": {"204": {"description": "successfully deleted role"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/mirrors": {"get": {"tags": ["mirrors"], "summary": "Get list of mirrors", "operationId": "repo.endpoints.mirrors.get_all", "parameters": [{"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/mirror-sort-query"}], "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "mirrors": {"type": "array", "items": {"$ref": "#/components/schemas/MirrorWithChannel"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels": {"get": {"tags": ["channels"], "summary": "Get all channels with filtering possibilities", "operationId": "repo.endpoints.channels.channels.list_channels", "parameters": [{"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/channel-ids-query"}, {"$ref": "#/components/parameters/channel-sort-query"}, {"$ref": "#/components/parameters/include-subchannels"}, {"$ref": "#/components/parameters/include-reserved-query"}], "responses": {"200": {"description": "get all channels", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Channel"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["channels"], "summary": "Create a new channel", "operationId": "repo.endpoints.channels.channels.post_channel", "description": "create a new channel", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelCreateRequest"}}}}, "responses": {"201": {"description": "successfully created a channel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Channel"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}": {"get": {"tags": ["channels"], "summary": "Get data for a specific channel", "operationId": "repo.endpoints.channels.channels.get_channel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "responses": {"200": {"description": "get a specific channel by name", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Channel"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "put": {"tags": ["channels"], "summary": "Edit the data for the specified channel", "operationId": "repo.endpoints.channels.channels.put_channel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelUpdateRequest"}}}}, "responses": {"200": {"description": "successfully updated the channel"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "delete": {"tags": ["channels"], "summary": "Delete channel and all its contents", "operationId": "repo.endpoints.channels.channels.delete_channel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "responses": {"201": {"description": "no channel to delete"}, "202": {"description": "successfully deleted the channel"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/permissions": {"get": {"tags": ["channels"], "summary": "Get the user permission level on the channel", "operationId": "repo.endpoints.channels.channels.channel_permissions", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "responses": {"200": {"description": "successfully retrieved the permission scopes on a channel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourcePermissions"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/channels/{channel_name}/groups": {"get": {"tags": ["groups"], "summary": "Get the channel groups", "operationId": "repo.endpoints.channels.channel_groups.list_groups", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "responses": {"200": {"description": "successfully retrieved the channel groups", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/ChannelGroup"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "post": {"tags": ["groups"], "summary": "Add new group to the channel", "operationId": "repo.endpoints.channels.channel_groups.post_group", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelGroupRequest"}}}}, "responses": {"204": {"description": "successfully added group to the channel"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/channels/{channel_name}/groups/{group_id}": {"put": {"tags": ["groups"], "summary": "Update group channel permission", "operationId": "repo.endpoints.channels.channel_groups.change_group", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/group_id-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelGroupPermissions"}}}}, "responses": {"200": {"description": "successfully updated the channel group permissions", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/ChannelGroup"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}, "delete": {"tags": ["groups"], "summary": "Delete the group from the channel", "operationId": "repo.endpoints.channels.channel_groups.delete_group", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/group_id-parameter"}], "responses": {"204": {"description": "Group is successfully removed"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}]}}, "/channels/{channel_name}/history": {"get": {"tags": ["channels"], "summary": "Get the history logs of the channel", "operationId": "repo.endpoints.channels.channels.channel_history", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/event-types-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successfully retrieved the activity logs for the channel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelHistory"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/cves_history": {"get": {"tags": ["channels", "cves"], "summary": "Get the cve history logs of the channel", "operationId": "repo.endpoints.channels.channels_cve_history.get_cve_channel_history", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/from-date-parameter"}, {"$ref": "#/components/parameters/to-date-parameter"}, {"$ref": "#/components/parameters/min-download-count-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/cve-notifications-event-type-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/max-impact-score-query"}, {"$ref": "#/components/parameters/min-impact-score-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successfully retrieved the cve history logs for the channel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelCveHistory"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "post": {"tags": ["channels", "cves"], "summary": "generate min-download-count-parametertory for a specific timestamp for example for existing cves history", "operationId": "repo.endpoints.channels.channels_cve_history.generate_cve_notifications", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CVENotificationsTimestamp"}}}}, "responses": {"202": {"description": "successfully starting building of cve notifications", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string"}}}}}}, "200": {"description": "No history available for given timestamp", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string"}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/stats": {"get": {"tags": ["channels"], "summary": "Get stats and counters for the channel", "operationId": "repo.endpoints.channels.channels.channel_stats", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "responses": {"200": {"description": "returns stats for the channel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelStats"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/virtual-channels": {"get": {"tags": ["channels"], "summary": "Get list of all virtual channels created from current channel", "operationId": "repo.endpoints.channels.channels.list_virtual_channels", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/channel-sort-query"}], "responses": {"200": {"description": "return list of virtual channels", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Channel"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts": {"get": {"tags": ["channels"], "summary": "Get list of artifacts for specific channel", "description": "Retrieve all artifacts for the current channel and passing the ?filter= query will only returns those artifacts in the current channel that match that filter string", "operationId": "repo.endpoints.channels.channel_artifacts.list_artifacts", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/only_names-query"}, {"$ref": "#/components/parameters/artifact-sort-query"}, {"$ref": "#/components/parameters/artifact_family-query"}, {"$ref": "#/components/parameters/platform-query"}], "responses": {"200": {"description": "get list of packages for channels", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Artifact"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["channels"], "summary": "Upload an artifact to the channel (implemented by repo-proxy, can't be called directly)", "operationId": "repo.endpoints.channels.channel_artifacts.upload_placeholder", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "requestBody": {"description": "upload the artifact to the channel with specified filetype", "content": {"multipart/form-data": {"schema": {"type": "object", "required": ["filetype", "content"], "properties": {"filetype": {"$ref": "#/components/schemas/UploadFileType"}, "r_version": {"type": "string", "description": "cran_binary_package R version"}, "distribution": {"type": "string", "description": "cran_binary_package distribution", "example": "macosx"}, "content": {"type": "string", "format": "binary"}}}}}}, "responses": {"201": {"description": "successful file uploaded"}, "204": {"description": "successful subsequent file uploads"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/bulk": {"put": {"summary": "Perform a bulk action for artifacts in channel", "operationId": "repo.endpoints.channels.channel_artifacts.bulk", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtifactBulkActionRequest"}}}}, "responses": {"202": {"description": "bulk did something to artifacts in the channel successfully"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}], "tags": ["channels"]}}, "/channels/{channel_name}/artifacts/{artifact_family}": {"put": {"tags": ["channels"], "summary": "Refreshes the index for specific artifact family in the channel", "operationId": "repo.endpoints.channels.channel_artifacts.refresh_artifact_family_index", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}], "responses": {"202": {"description": "index update accepted"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}": {"get": {"tags": ["channels"], "summary": "Get specific artifact in current channel", "operationId": "repo.endpoints.channels.channel_artifacts.get_artifact", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "responses": {"200": {"description": "successfully returned an Artifact", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Artifact"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "delete": {"tags": ["channels"], "summary": "Delete the specific artifact in the current channel", "operationId": "repo.endpoints.channels.channel_artifacts.delete_artifact", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "responses": {"204": {"description": "successfully deleted"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/readme": {"get": {"x-not-implemented": "red", "tags": ["channels"], "summary": "Get the README file for this artifact", "operationId": "repo.endpoints.channels.channel_artifacts.get_artifact_readme", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "responses": {"200": {"description": "successfully retrieved README for this artifact", "content": {"application/json": {"schema": {"type": "string"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "deprecated": true}}, "/channels/{channel_name}/cves": {"get": {"tags": ["channels", "cves"], "summary": "Get all the CVE's associated with this channel", "operationId": "repo.endpoints.channels.channel_artifacts.list_channel_cves", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/max_cve_score-query"}, {"$ref": "#/components/parameters/architectures-query"}, {"$ref": "#/components/parameters/cve-name-query"}, {"$ref": "#/components/parameters/version-query"}, {"$ref": "#/components/parameters/min_packages_count-query"}, {"$ref": "#/components/parameters/artifact_name-query"}, {"$ref": "#/components/parameters/cve-sort-query"}, {"$ref": "#/components/parameters/with_cve_counts_by_severity-query"}], "responses": {"200": {"description": "successfully returns the CVE objects related to this channel", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/CVE"}}, "cve_count_by_severity": {"$ref": "#/components/schemas/CVEsBySeverity"}}}}, "text/csv": {"schema": {"type": "string"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/cves/ws": {"get": {"tags": ["channels", "cves", "websocket"], "operationId": "repo.endpoints.channels.channel_artifacts.cve_report_batched", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/max_cve_score-query"}, {"$ref": "#/components/parameters/architectures-query"}, {"$ref": "#/components/parameters/cve-name-query"}, {"$ref": "#/components/parameters/version-query"}, {"$ref": "#/components/parameters/artifact_name-query"}], "responses": {"101": {"description": "Read-only websocket with new events", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CVE"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}}, "security": [{"jwt": []}]}}, "/channels/{channel_name}/cves/{cve_id}": {"get": {"tags": ["channels", "cves"], "summary": "Get channel CVE details", "operationId": "repo.endpoints.channels.channel_artifacts.get_channel_cve_details", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/cve_id-parameter"}], "responses": {"200": {"description": "successfully returns the channel's CVE detailss", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CVE"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/cves/{cve_id}/files": {"get": {"tags": ["channels", "cves"], "summary": "Get all package files, associated with specific CVE in the channel", "operationId": "repo.endpoints.channels.channel_artifacts.list_channel_cve_files", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/cve_id-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}], "responses": {"200": {"description": "successfully returns routes, related to this CVE in the channel", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/CVEPackage"}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/cves": {"get": {"tags": ["channels", "cves"], "summary": "Get all the CVE's associated with this channel and artifact", "operationId": "repo.endpoints.channels.channel_artifacts.list_artifact_cves", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/with_cve_counts_by_severity-query"}], "responses": {"200": {"description": "successfully returns the CVE objects, related to this CVE in artifact", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/CVE"}}, "cve_count_by_severity": {"$ref": "#/components/schemas/CVEsBySeverity"}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/cves/{cve_id}": {"get": {"tags": ["channels", "cves"], "summary": "Get artifact CVE details", "operationId": "repo.endpoints.channels.channel_artifacts.get_artifact_cve_details", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/cve_id-parameter"}], "responses": {"200": {"description": "successfully returns the artifact CVE details", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CVE"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/cves/{cve_id}/files": {"get": {"tags": ["channels", "cves"], "summary": "successfully returns routes, related to this CVE in the artifact", "operationId": "repo.endpoints.channels.channel_artifacts.list_artifact_cve_files", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/cve_id-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}], "responses": {"200": {"description": "successfully returns routes, related to this CVE in the channel", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/CVEPackage"}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/files": {"get": {"tags": ["channels"], "summary": "Get all files of the artifact", "operationId": "repo.endpoints.channels.channel_artifacts.list_artifact_files", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/file-sort-query"}, {"$ref": "#/components/parameters/omit_cve-query"}, {"$ref": "#/components/parameters/include_nonsearchable-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/max_cve_score-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}, {"$ref": "#/components/parameters/architectures-query"}, {"$ref": "#/components/parameters/package-state-query"}, {"$ref": "#/components/parameters/created-min-query"}, {"$ref": "#/components/parameters/created-max-query"}, {"$ref": "#/components/parameters/ckey-query"}, {"$ref": "#/components/parameters/version-query"}, {"$ref": "#/components/parameters/cve_extra_info-query"}], "responses": {"200": {"description": "successfully retrieved all files", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/ArtifactFile"}}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/files/{ckey:[^/].*?}": {"get": {"tags": ["channels"], "summary": "Get artifact file", "operationId": "repo.endpoints.channels.channel_artifacts.artifact_file", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/ckey-parameter"}, {"$ref": "#/components/parameters/omit_cve-query"}], "responses": {"200": {"description": "Artifact file", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtifactFile"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/file-cves/{ckey:[^/].*?}": {"get": {"tags": ["channels"], "summary": "Get a list of CVEs for the file (ckey)", "operationId": "repo.endpoints.channels.channel_artifacts.list_file_cves", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/ckey-parameter"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "List of CVEs", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/CVE"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/signature-verification/{artifact_family}": {"post": {"tags": ["channels"], "summary": "Verify a single package metadata", "operationId": "repo.endpoints.signature_verification.is_verified", "parameters": [{"$ref": "#/components/parameters/signature-artifact_family-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FileSignatureVerificationRequest"}}}}, "responses": {"200": {"description": "Verfication succeed", "content": {"application/json": {"schema": {"type": "object", "properties": {"verified": {"type": "boolean"}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/dependencies": {"get": {"tags": ["channels"], "summary": "Get all dependencies of artifact", "operationId": "repo.endpoints.channels.channel_artifacts.list_artifact_dependencies", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successfully retrieved all dependencies", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/ArtifactDependency"}}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/dependants": {"get": {"tags": ["channels"], "summary": "Get all dependant packages from the artifact", "operationId": "repo.endpoints.channels.channel_artifacts.list_artifact_dependants", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successfully retrieved all dependants", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/ArtifactDependency"}}}}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/move": {"put": {"x-not-implemented": "red", "tags": ["channels"], "summary": "Move the artifact to another channel", "operationId": "repo.endpoints.channels.channel_artifacts.move_artifact", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtifactBulkActionRequest"}}}}, "responses": {"200": {"description": "successfully moved the artifact to another channel"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}], "deprecated": true}}, "/channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/copy": {"put": {"x-not-implemented": "red", "tags": ["channels"], "summary": "Copy the artifact to another channel", "operationId": "repo.endpoints.channels.channel_artifacts.copy_artifact", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtifactBulkActionRequest"}}}}, "responses": {"200": {"description": "successfully copied the artifact to another channel"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}], "deprecated": true}}, "/channels/{channel_name}/mirrors": {"get": {"tags": ["channels"], "summary": "Get list of mirror configurations", "operationId": "repo.endpoints.channels.channel_mirrors.list_mirrors", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/mirror-sort-query"}], "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Mirror"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "post": {"tags": ["channels"], "summary": "Create a mirror", "operationId": "repo.endpoints.channels.channel_mirrors.post_mirror", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/task-manager-schedule-query"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MirrorConfiguration"}}}}, "responses": {"201": {"description": "ok", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Mirror"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}, "409": {"$ref": "#/components/responses/Conflict"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/mirrors/{mirror_id}/stop_mirror_sync": {"post": {"tags": ["channels"], "summary": "Stop mirror sync task", "operationId": "repo.endpoints.channels.channel_mirrors.stop_mirror_sync", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/mirror_id-parameter"}], "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Mirror"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/mirrors/{mirror_id}": {"get": {"tags": ["channels"], "summary": "Get mirror details", "operationId": "repo.endpoints.channels.channel_mirrors.get_mirror", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/mirror_id-parameter"}], "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Mirror"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "put": {"tags": ["channels"], "summary": "Update a mirror", "operationId": "repo.endpoints.channels.channel_mirrors.put_mirror", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/mirror_id-parameter"}, {"$ref": "#/components/parameters/task-manager-schedule-query"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MirrorConfiguration"}}}}, "responses": {"202": {"description": "ok", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Mirror"}}}}, "204": {"description": "no content"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "delete": {"tags": ["channels"], "summary": "Delete an existing mirror configuration", "operationId": "repo.endpoints.channels.channel_mirrors.delete_mirror", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/mirror_id-parameter"}], "responses": {"200": {"description": "ok"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/files-filtered": {"get": {"tags": ["channels"], "summary": "Get list of routes filtered by last mirror for specific channel", "description": "Retrieve all routes filtered by last mirror for the specific channel", "operationId": "repo.endpoints.channels.channels_routes_filtered.list_routes_filtered", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "get list of routes filtered for channel", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/FileFiltered"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels": {"get": {"tags": ["channels"], "summary": "Get list of subchannels within the channel", "operationId": "repo.endpoints.channels.subchannels.list_subchannels", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/channel-ids-query"}, {"$ref": "#/components/parameters/channel-sort-query"}], "responses": {"200": {"description": "get the subchannels of the channel", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Subchannel"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["channels"], "summary": "Create a subchannel", "operationId": "repo.endpoints.channels.subchannels.post_subchannel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelCreateRequest"}}}}, "responses": {"201": {"description": "successfully created the subchannel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Subchannel"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}": {"get": {"tags": ["channels"], "summary": "Get the specific subchannel details", "operationId": "repo.endpoints.channels.subchannels.get_subchannel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "responses": {"200": {"description": "get the subchannel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Subchannel"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "put": {"tags": ["channels"], "summary": "Update the subchannel", "operationId": "repo.endpoints.channels.subchannels.put_subchannel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Subchannel"}}}}, "responses": {"200": {"description": "successfully updated the subchannel"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "409": {"$ref": "#/components/responses/Conflict"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "delete": {"tags": ["channels"], "summary": "Delete the subchannel", "operationId": "repo.endpoints.channels.subchannels.delete_subchannel", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "responses": {"202": {"description": "successfully deleted the subchannel"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/cves_history": {"get": {"tags": ["channels", "cves"], "summary": "Get the cve history logs of the subchannel", "operationId": "repo.endpoints.channels.subchannels_cve_history.get_cve_subchannel_history", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/to-date-parameter"}, {"$ref": "#/components/parameters/from-date-parameter"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/cve-notifications-event-type-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/min-download-count-query"}, {"$ref": "#/components/parameters/max-impact-score-query"}, {"$ref": "#/components/parameters/min-impact-score-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}], "responses": {"200": {"description": "successfully retrieved the cve history logs for the channel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelCveHistory"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}, "post": {"tags": ["channels", "cves"], "summary": "generate cves_history for a specific timestamp for example for existing cves history", "operationId": "repo.endpoints.channels.subchannels_cve_history.generate_cve_notifications", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/timestamp-parameter"}], "responses": {"202": {"description": "successfully starting building of cve notifications", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string"}}}}}}, "200": {"description": "No history available for given timestamp", "content": {"application/json": {"schema": {"type": "object", "properties": {"message": {"type": "string"}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/mirrors/{mirror_id}/stop_mirror_sync": {"post": {"tags": ["channels"], "summary": "Stop mirror sync task", "operationId": "repo.endpoints.channels.subchannel_mirrors.stop_mirror_sync", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/mirror_id-parameter"}], "responses": {"200": {"description": "ok", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Mirror"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/permissions": {"get": {"tags": ["channels"], "summary": "Get the user permission level on the channel", "operationId": "repo.endpoints.channels.subchannels.subchannel_permissions", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "responses": {"200": {"description": "successfully retrieved the permission scopes on a subchannel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResourcePermissions"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}}, "/channels/{channel_name}/subchannels/{subchannel_name}/artifacts": {"get": {"tags": ["channels"], "summary": "Get the artifacts of the subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.list_artifacts", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/only_names-query"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/artifact-sort-query"}, {"$ref": "#/components/parameters/artifact_family-query"}, {"$ref": "#/components/parameters/platform-query"}], "responses": {"200": {"description": "get the subchannel artifacts", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Artifact"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "post": {"tags": ["channels"], "summary": "Upload an artifact to the subchannel (implemented by repo-proxy, can't be called directly)", "operationId": "repo.endpoints.channels.subchannel_artifacts.upload_placeholder", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "requestBody": {"description": "upload the artifact to the subchannel with specified type and name", "content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"filetype": {"$ref": "#/components/schemas/UploadFileType"}, "description": {"type": "string", "description": "a string that describes the package that is being uploaded"}, "content": {"type": "string", "format": "binary"}}}}}}, "responses": {"201": {"description": "successful file uploaded"}, "204": {"description": "successful subsequent file uploads"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/stats": {"get": {"tags": ["channels"], "summary": "Get stats and counters for the subchannel", "operationId": "repo.endpoints.channels.subchannels.subchannel_stats", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "responses": {"200": {"description": "returns stats for the subchannel", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelStats"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/virtual-channels": {"get": {"tags": ["channels"], "summary": "Get list of all virtual channels created from current subchannel", "operationId": "repo.endpoints.channels.subchannels.list_virtual_channels", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/channel-sort-query"}], "responses": {"200": {"description": "return list of virtual channels", "content": {"application/json": {"schema": {"type": "object", "properties": {"total_count": {"type": "number"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Channel"}}}}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/artifacts/bulk": {"put": {"tags": ["channels"], "summary": "Perform a bulk action for artifacts in subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.bulk", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ArtifactBulkActionRequest"}}}}, "responses": {"202": {"description": "bulk did something to artifacts in the subchannel successfully"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}": {"put": {"tags": ["channels"], "summary": "Refreshes the index for specific artifact family in the subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.refresh_artifact_family_index", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}], "responses": {"202": {"description": "index update accepted"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}": {"get": {"tags": ["channels"], "summary": "Get the details of the specific artifact in the subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.get_artifact", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "responses": {"200": {"description": "successfully returned an Artifact", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Artifact"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}}, "delete": {"tags": ["channels"], "summary": "Delete the specific artifact in the subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.delete_artifact", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "responses": {"204": {"description": "successfully deleted the artifact from the subchannel"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/readme": {"get": {"x-not-implemented": "red", "tags": ["channels"], "summary": "Get the readme of the specific artifact in the subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.get_artifact_readme", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/artifact_family-parameter"}, {"$ref": "#/components/parameters/artifact_name-parameter"}], "responses": {"200": {"description": "successfully returned an artifact readme", "content": {"application/json": {"schema": {"type": "string"}}}}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "deprecated": true}}, "/channels/{channel_name}/subchannels/{subchannel_name}/cves": {"get": {"tags": ["channels", "cves"], "summary": "Get all the CVE's associated with this subchannel", "operationId": "repo.endpoints.channels.subchannel_artifacts.list_subchannel_cves", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/offset-query"}, {"$ref": "#/components/parameters/limit-query"}, {"$ref": "#/components/parameters/cve_status-query"}, {"$ref": "#/components/parameters/min_cve_score-query"}, {"$ref": "#/components/parameters/search-query"}, {"$ref": "#/components/parameters/max_cve_score-query"}, {"$ref": "#/components/parameters/architectures-query"}, {"$ref": "#/components/parameters/cve-name-query"}, {"$ref": "#/components/parameters/version-query"}, {"$ref": "#/components/parameters/min_packages_count-query"}, {"$ref": "#/components/parameters/artifact_name-query"}, {"$ref": "#/components/parameters/cve-sort-query"}, {"$ref": "#/components/parameters/with_cve_counts_by_severity-query"}], "responses": {"200": {"description": "successfully returns the CVE objects related to this channel", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/CVE"}}}, "text/csv": {"schema": {"type": "string"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthenticated"}, "403": {"$ref": "#/components/responses/Forbidden"}, "500": {"$ref": "#/components/responses/InternalServerError"}}, "security": [{"jwt": []}, {"user_token": []}]}}, "/channels/{channel_name}/subchannels/{subchannel_name}/cves/ws": {"get": {"tags": ["channels", "cves", "websocket"], "operationId": "repo.endpoints.channels.subchannel_artifacts.cve_report_batched", "parameters": [{"$ref": "#/components/parameters/channel-parameter"}, {"$ref": "#/components/parameters/subchannel-parameter"}, {"$ref": "#/components/parameters/cve_statu
[...]
