openapi: 3.2.0
info:
  version: '6.5'
  title: Anaconda Server Channels API
  description: Channel management endpoints
servers:
- url: https://api.anaconda.cloud/api
tags:
- name: channels
  description: Channel management endpoints
paths:
  /channels:
    get:
      tags:
      - channels
      summary: Get all channels with filtering possibilities
      operationId: repo.endpoints.channels.channels.list_channels
      parameters:
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/channel-ids-query'
      - $ref: '#/components/parameters/channel-sort-query'
      - $ref: '#/components/parameters/include-subchannels'
      - $ref: '#/components/parameters/include-reserved-query'
      responses:
        '200':
          description: get all channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - channels
      summary: Create a new channel
      operationId: repo.endpoints.channels.channels.post_channel
      description: create a new channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelCreateRequest'
      responses:
        '201':
          description: successfully created a channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}:
    get:
      tags:
      - channels
      summary: Get data for a specific channel
      operationId: repo.endpoints.channels.channels.get_channel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      responses:
        '200':
          description: get a specific channel by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - channels
      summary: Edit the data for the specified channel
      operationId: repo.endpoints.channels.channels.put_channel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelUpdateRequest'
      responses:
        '200':
          description: successfully updated the channel
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    delete:
      tags:
      - channels
      summary: Delete channel and all its contents
      operationId: repo.endpoints.channels.channels.delete_channel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      responses:
        '201':
          description: no channel to delete
        '202':
          description: successfully deleted the channel
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/permissions:
    get:
      tags:
      - channels
      summary: Get the user permission level on the channel
      operationId: repo.endpoints.channels.channels.channel_permissions
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      responses:
        '200':
          description: successfully retrieved the permission scopes on a channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePermissions'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/history:
    get:
      tags:
      - channels
      summary: Get the history logs of the channel
      operationId: repo.endpoints.channels.channels.channel_history
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/event-types-query'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved the activity logs for the channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelHistory'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/cves_history:
    get:
      tags:
      - channels
      summary: Get the cve history logs of the channel
      operationId: repo.endpoints.channels.channels_cve_history.get_cve_channel_history
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/from-date-parameter'
      - $ref: '#/components/parameters/to-date-parameter'
      - $ref: '#/components/parameters/min-download-count-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/cve-notifications-event-type-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/max-impact-score-query'
      - $ref: '#/components/parameters/min-impact-score-query'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved the cve history logs for the channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCveHistory'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    post:
      tags:
      - channels
      summary: generate min-download-count-parametertory for a specific timestamp for example for existing cves history
      operationId: repo.endpoints.channels.channels_cve_history.generate_cve_notifications
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CVENotificationsTimestamp'
      responses:
        '202':
          description: successfully starting building of cve notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '200':
          description: No history available for given timestamp
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/stats:
    get:
      tags:
      - channels
      summary: Get stats and counters for the channel
      operationId: repo.endpoints.channels.channels.channel_stats
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      responses:
        '200':
          description: returns stats for the channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelStats'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/virtual-channels:
    get:
      tags:
      - channels
      summary: Get list of all virtual channels created from current channel
      operationId: repo.endpoints.channels.channels.list_virtual_channels
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/channel-sort-query'
      responses:
        '200':
          description: return list of virtual channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts:
    get:
      tags:
      - channels
      summary: Get list of artifacts for specific channel
      description: Retrieve all artifacts for the current channel and passing the ?filter= query will only returns those artifacts in the current channel that match that filter string
      operationId: repo.endpoints.channels.channel_artifacts.list_artifacts
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/only_names-query'
      - $ref: '#/components/parameters/artifact-sort-query'
      - $ref: '#/components/parameters/artifact_family-query'
      - $ref: '#/components/parameters/platform-query'
      responses:
        '200':
          description: get list of packages for channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - channels
      summary: Upload an artifact to the channel (implemented by repo-proxy, can't be called directly)
      operationId: repo.endpoints.channels.channel_artifacts.upload_placeholder
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      requestBody:
        description: upload the artifact to the channel with specified filetype
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - filetype
              - content
              properties:
                filetype:
                  $ref: '#/components/schemas/UploadFileType'
                r_version:
                  type: string
                  description: cran_binary_package R version
                distribution:
                  type: string
                  description: cran_binary_package distribution
                  example: macosx
                content:
                  type: string
                  format: binary
      responses:
        '201':
          description: successful file uploaded
        '204':
          description: successful subsequent file uploads
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/bulk:
    put:
      summary: Perform a bulk action for artifacts in channel
      operationId: repo.endpoints.channels.channel_artifacts.bulk
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactBulkActionRequest'
      responses:
        '202':
          description: bulk did something to artifacts in the channel successfully
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
      tags:
      - channels
  /channels/{channel_name}/artifacts/{artifact_family}:
    put:
      tags:
      - channels
      summary: Refreshes the index for specific artifact family in the channel
      operationId: repo.endpoints.channels.channel_artifacts.refresh_artifact_family_index
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      responses:
        '202':
          description: index update accepted
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}:
    get:
      tags:
      - channels
      summary: Get specific artifact in current channel
      operationId: repo.endpoints.channels.channel_artifacts.get_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '200':
          description: successfully returned an Artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - channels
      summary: Delete the specific artifact in the current channel
      operationId: repo.endpoints.channels.channel_artifacts.delete_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '204':
          description: successfully deleted
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/readme:
    get:
      x-not-implemented: red
      tags:
      - channels
      summary: Get the README file for this artifact
      operationId: repo.endpoints.channels.channel_artifacts.get_artifact_readme
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '200':
          description: successfully retrieved README for this artifact
          content:
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: true
  /channels/{channel_name}/cves:
    get:
      tags:
      - channels
      summary: Get all the CVE's associated with this channel
      operationId: repo.endpoints.channels.channel_artifacts.list_channel_cves
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/max_cve_score-query'
      - $ref: '#/components/parameters/architectures-query'
      - $ref: '#/components/parameters/cve-name-query'
      - $ref: '#/components/parameters/version-query'
      - $ref: '#/components/parameters/min_packages_count-query'
      - $ref: '#/components/parameters/artifact_name-query'
      - $ref: '#/components/parameters/cve-sort-query'
      - $ref: '#/components/parameters/with_cve_counts_by_severity-query'
      responses:
        '200':
          description: successfully returns the CVE objects related to this channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CVE'
                  cve_count_by_severity:
                    $ref: '#/components/schemas/CVEsBySeverity'
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/cves/ws:
    get:
      tags:
      - channels
      operationId: repo.endpoints.channels.channel_artifacts.cve_report_batched
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/max_cve_score-query'
      - $ref: '#/components/parameters/architectures-query'
      - $ref: '#/components/parameters/cve-name-query'
      - $ref: '#/components/parameters/version-query'
      - $ref: '#/components/parameters/artifact_name-query'
      responses:
        '101':
          description: Read-only websocket with new events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
      - jwt: []
  /channels/{channel_name}/cves/{cve_id}:
    get:
      tags:
      - channels
      summary: Get channel CVE details
      operationId: repo.endpoints.channels.channel_artifacts.get_channel_cve_details
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      responses:
        '200':
          description: successfully returns the channel's CVE detailss
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/cves/{cve_id}/files:
    get:
      tags:
      - channels
      summary: Get all package files, associated with specific CVE in the channel
      operationId: repo.endpoints.channels.channel_artifacts.list_channel_cve_files
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      responses:
        '200':
          description: successfully returns routes, related to this CVE in the channel
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CVEPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/cves:
    get:
      tags:
      - channels
      summary: Get all the CVE's associated with this channel and artifact
      operationId: repo.endpoints.channels.channel_artifacts.list_artifact_cves
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/with_cve_counts_by_severity-query'
      responses:
        '200':
          description: successfully returns the CVE objects, related to this CVE in artifact
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CVE'
                  cve_count_by_severity:
                    $ref: '#/components/schemas/CVEsBySeverity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/cves/{cve_id}:
    get:
      tags:
      - channels
      summary: Get artifact CVE details
      operationId: repo.endpoints.channels.channel_artifacts.get_artifact_cve_details
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      responses:
        '200':
          description: successfully returns the artifact CVE details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/cves/{cve_id}/files:
    get:
      tags:
      - channels
      summary: successfully returns routes, related to this CVE in the artifact
      operationId: repo.endpoints.channels.channel_artifacts.list_artifact_cve_files
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      responses:
        '200':
          description: successfully returns routes, related to this CVE in the channel
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CVEPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/files:
    get:
      tags:
      - channels
      summary: Get all files of the artifact
      operationId: repo.endpoints.channels.channel_artifacts.list_artifact_files
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/file-sort-query'
      - $ref: '#/components/parameters/omit_cve-query'
      - $ref: '#/components/parameters/include_nonsearchable-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/max_cve_score-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/architectures-query'
      - $ref: '#/components/parameters/package-state-query'
      - $ref: '#/components/parameters/created-min-query'
      - $ref: '#/components/parameters/created-max-query'
      - $ref: '#/components/parameters/ckey-query'
      - $ref: '#/components/parameters/version-query'
      - $ref: '#/components/parameters/cve_extra_info-query'
      responses:
        '200':
          description: successfully retrieved all files
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/files/{ckey:[^/].*?}:
    get:
      tags:
      - channels
      summary: Get artifact file
      operationId: repo.endpoints.channels.channel_artifacts.artifact_file
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/ckey-parameter'
      - $ref: '#/components/parameters/omit_cve-query'
      responses:
        '200':
          description: Artifact file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/file-cves/{ckey:[^/].*?}:
    get:
      tags:
      - channels
      summary: Get a list of CVEs for the file (ckey)
      operationId: repo.endpoints.channels.channel_artifacts.list_file_cves
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/ckey-parameter'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: List of CVEs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CVE'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /signature-verification/{artifact_family}:
    post:
      tags:
      - channels
      summary: Verify a single package metadata
      operationId: repo.endpoints.signature_verification.is_verified
      parameters:
      - $ref: '#/components/parameters/signature-artifact_family-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSignatureVerificationRequest'
      responses:
        '200':
          description: Verfication succeed
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/dependencies:
    get:
      tags:
      - channels
      summary: Get all dependencies of artifact
      operationId: repo.endpoints.channels.channel_artifacts.list_artifact_dependencies
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved all dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactDependency'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/dependants:
    get:
      tags:
      - channels
      summary: Get all dependant packages from the artifact
      operationId: repo.endpoints.channels.channel_artifacts.list_artifact_dependants
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved all dependants
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactDependency'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/move:
    put:
      x-not-implemented: red
      tags:
      - channels
      summary: Move the artifact to another channel
      operationId: repo.endpoints.channels.channel_artifacts.move_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactBulkActionRequest'
      responses:
        '200':
          description: successfully moved the artifact to another channel
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
      deprecated: true
  /channels/{channel_name}/artifacts/{artifact_family}/{artifact_name}/copy:
    put:
      x-not-implemented: red
      tags:
      - channels
      summary: Copy the artifact to another channel
      operationId: repo.endpoints.channels.channel_artifacts.copy_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactBulkActionRequest'
      responses:
        '200':
          description: successfully copied the artifact to another channel
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
      deprecated: true
  /channels/{channel_name}/mirrors:
    get:
      tags:
      - channels
      summary: Get list of mirror configurations
      operationId: repo.endpoints.channels.channel_mirrors.list_mirrors
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/mirror-sort-query'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Mirror'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    post:
      tags:
      - channels
      summary: Create a mirror
      operationId: repo.endpoints.channels.channel_mirrors.post_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/task-manager-schedule-query'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MirrorConfiguration'
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '409':
          $ref: '#/components/responses/Conflict'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/mirrors/{mirror_id}/stop_mirror_sync:
    post:
      tags:
      - channels
      summary: Stop mirror sync task
      operationId: repo.endpoints.channels.channel_mirrors.stop_mirror_sync
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/mirrors/{mirror_id}:
    get:
      tags:
      - channels
      summary: Get mirror details
      operationId: repo.endpoints.channels.channel_mirrors.get_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    put:
      tags:
      - channels
      summary: Update a mirror
      operationId: repo.endpoints.channels.channel_mirrors.put_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      - $ref: '#/components/parameters/task-manager-schedule-query'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MirrorConfiguration'
      responses:
        '202':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '204':
          description: no content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    delete:
      tags:
      - channels
      summary: Delete an existing mirror configuration
      operationId: repo.endpoints.channels.channel_mirrors.delete_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      responses:
        '200':
          description: ok
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/files-filtered:
    get:
      tags:
      - channels
      summary: Get list of routes filtered by last mirror for specific channel
      description: Retrieve all routes filtered by last mirror for the specific channel
      operationId: repo.endpoints.channels.channels_routes_filtered.list_routes_filtered
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: get list of routes filtered for channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FileFiltered'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels:
    get:
      tags:
      - channels
      summary: Get list of subchannels within the channel
      operationId: repo.endpoints.channels.subchannels.list_subchannels
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/channel-ids-query'
      - $ref: '#/components/parameters/channel-sort-query'
      responses:
        '200':
          description: get the subchannels of the channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subchannel'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - channels
      summary: Create a subchannel
      operationId: repo.endpoints.channels.subchannels.post_subchannel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelCreateRequest'
      responses:
        '201':
          description: successfully created the subchannel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subchannel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}:
    get:
      tags:
      - channels
      summary: Get the specific subchannel details
      operationId: repo.endpoints.channels.subchannels.get_subchannel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      responses:
        '200':
          description: get the subchannel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subchannel'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - channels
      summary: Update the subchannel
      operationId: repo.endpoints.channels.subchannels.put_subchannel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subchannel'
      responses:
        '200':
          description: successfully updated the subchannel
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    delete:
      tags:
      - channels
      summary: Delete the subchannel
      operationId: repo.endpoints.channels.subchannels.delete_subchannel
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      responses:
        '202':
          description: successfully deleted the subchannel
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/cves_history:
    get:
      tags:
      - channels
      summary: Get the cve history logs of the subchannel
      operationId: repo.endpoints.channels.subchannels_cve_history.get_cve_subchannel_history
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/to-date-parameter'
      - $ref: '#/components/parameters/from-date-parameter'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/cve-notifications-event-type-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/min-download-count-query'
      - $ref: '#/components/parameters/max-impact-score-query'
      - $ref: '#/components/parameters/min-impact-score-query'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved the cve history logs for the channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCveHistory'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    post:
      tags:
      - channels
      summary: generate cves_history for a specific timestamp for example for existing cves history
      operationId: repo.endpoints.channels.subchannels_cve_history.generate_cve_notifications
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/timestamp-parameter'
      responses:
        '202':
          description: successfully starting building of cve notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '200':
          description: No history available for given timestamp
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/mirrors/{mirror_id}/stop_mirror_sync:
    post:
      tags:
      - channels
      summary: Stop mirror sync task
      operationId: repo.endpoints.channels.subchannel_mirrors.stop_mirror_sync
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/permissions:
    get:
      tags:
      - channels
      summary: Get the user permission level on the channel
      operationId: repo.endpoints.channels.subchannels.subchannel_permissions
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      responses:
        '200':
          description: successfully retrieved the permission scopes on a subchannel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePermissions'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts:
    get:
      tags:
      - channels
      summary: Get the artifacts of the subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.list_artifacts
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/only_names-query'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/artifact-sort-query'
      - $ref: '#/components/parameters/artifact_family-query'
      - $ref: '#/components/parameters/platform-query'
      responses:
        '200':
          description: get the subchannel artifacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - channels
      summary: Upload an artifact to the subchannel (implemented by repo-proxy, can't be called directly)
      operationId: repo.endpoints.channels.subchannel_artifacts.upload_placeholder
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      requestBody:
        description: upload the artifact to the subchannel with specified type and name
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                filetype:
                  $ref: '#/components/schemas/UploadFileType'
                description:
                  type: string
                  description: a string that describes the package that is being uploaded
                content:
                  type: string
                  format: binary
      responses:
        '201':
          description: successful file uploaded
        '204':
          description: successful subsequent file uploads
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/stats:
    get:
      tags:
      - channels
      summary: Get stats and counters for the subchannel
      operationId: repo.endpoints.channels.subchannels.subchannel_stats
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      responses:
        '200':
          description: returns stats for the subchannel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelStats'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/virtual-channels:
    get:
      tags:
      - channels
      summary: Get list of all virtual channels created from current subchannel
      operationId: repo.endpoints.channels.subchannels.list_virtual_channels
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/channel-sort-query'
      responses:
        '200':
          description: return list of virtual channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/bulk:
    put:
      tags:
      - channels
      summary: Perform a bulk action for artifacts in subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.bulk
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactBulkActionRequest'
      responses:
        '202':
          description: bulk did something to artifacts in the subchannel successfully
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}:
    put:
      tags:
      - channels
      summary: Refreshes the index for specific artifact family in the subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.refresh_artifact_family_index
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      responses:
        '202':
          description: index update accepted
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}:
    get:
      tags:
      - channels
      summary: Get the details of the specific artifact in the subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.get_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '200':
          description: successfully returned an Artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - channels
      summary: Delete the specific artifact in the subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.delete_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '204':
          description: successfully deleted the artifact from the subchannel
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/readme:
    get:
      x-not-implemented: red
      tags:
      - channels
      summary: Get the readme of the specific artifact in the subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.get_artifact_readme
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '200':
          description: successfully returned an artifact readme
          content:
            application/json:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: true
  /channels/{channel_name}/subchannels/{subchannel_name}/cves:
    get:
      tags:
      - channels
      summary: Get all the CVE's associated with this subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.list_subchannel_cves
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/max_cve_score-query'
      - $ref: '#/components/parameters/architectures-query'
      - $ref: '#/components/parameters/cve-name-query'
      - $ref: '#/components/parameters/version-query'
      - $ref: '#/components/parameters/min_packages_count-query'
      - $ref: '#/components/parameters/artifact_name-query'
      - $ref: '#/components/parameters/cve-sort-query'
      - $ref: '#/components/parameters/with_cve_counts_by_severity-query'
      responses:
        '200':
          description: successfully returns the CVE objects related to this channel
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CVE'
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/cves/ws:
    get:
      tags:
      - channels
      operationId: repo.endpoints.channels.subchannel_artifacts.cve_report_batched
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/max_cve_score-query'
      - $ref: '#/components/parameters/architectures-query'
      - $ref: '#/components/parameters/cve-name-query'
      - $ref: '#/components/parameters/version-query'
      - $ref: '#/components/parameters/artifact_name-query'
      responses:
        '101':
          description: Read-only websocket with new events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
      - jwt: []
  /channels/{channel_name}/subchannels/{subchannel_name}/cves/{cve_id}:
    get:
      tags:
      - channels
      summary: Get subchannel CVE details
      operationId: repo.endpoints.channels.subchannel_artifacts.get_subchannel_cve_details
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      responses:
        '200':
          description: successfully returns subchannel CVE details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/cves/{cve_id}/files:
    get:
      tags:
      - channels
      summary: Get all package files, associated with specific CVE in the channel
      operationId: repo.endpoints.channels.subchannel_artifacts.list_subchannel_cve_files
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      responses:
        '200':
          description: successfully returns routes, related to this CVE in the subchannel
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CVEPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/cves:
    get:
      tags:
      - channels
      summary: Get all the CVE's associated with this subchannel and artifact
      operationId: repo.endpoints.channels.subchannel_artifacts.list_artifact_cves
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/with_cve_counts_by_severity-query'
      responses:
        '200':
          description: successfully returns the CVE objects, related to this subchannel
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CVE'
                  cve_count_by_severity:
                    $ref: '#/components/schemas/CVEsBySeverity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/cves/{cve_id}:
    get:
      tags:
      - channels
      summary: Get subchannel artifact CVE details
      operationId: repo.endpoints.channels.subchannel_artifacts.get_artifact_cve_details
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      responses:
        '200':
          description: successfully returns the subchannel artifact CVE details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/cves/{cve_id}/files:
    get:
      tags:
      - channels
      summary: successfully returns routes, related to this CVE in the artifact
      operationId: repo.endpoints.channels.subchannel_artifacts.list_artifact_cve_files
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/cve_id-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      responses:
        '200':
          description: successfully returns routes, related to this CVE in the artifact
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CVE'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/files:
    get:
      tags:
      - channels
      summary: Get all files of artifact in subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.list_artifact_files
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/file-sort-query'
      - $ref: '#/components/parameters/omit_cve-query'
      - $ref: '#/components/parameters/include_nonsearchable-query'
      - $ref: '#/components/parameters/cve_status-query'
      - $ref: '#/components/parameters/max_cve_score-query'
      - $ref: '#/components/parameters/min_cve_score-query'
      - $ref: '#/components/parameters/architectures-query'
      - $ref: '#/components/parameters/package-state-query'
      - $ref: '#/components/parameters/created-min-query'
      - $ref: '#/components/parameters/created-max-query'
      - $ref: '#/components/parameters/ckey-query'
      - $ref: '#/components/parameters/version-query'
      - $ref: '#/components/parameters/cve_extra_info-query'
      responses:
        '200':
          description: successfully retrieved all files
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/files/{ckey:[^/].*?}:
    get:
      tags:
      - channels
      summary: Get artifact file in subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.artifact_file
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/ckey-parameter'
      - $ref: '#/components/parameters/omit_cve-query'
      responses:
        '200':
          description: Artifact file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  ? /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/file-cves/{ckey:[^/].*?}
  : get:
      tags:
      - channels
      summary: Get a list of CVEs for the file (ckey)
      operationId: repo.endpoints.channels.subchannel_artifacts.list_file_cves
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/ckey-parameter'
      - $ref: '#/components/parameters/search-query'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: List of CVEs
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CVE'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/dependencies:
    get:
      tags:
      - channels
      summary: Get all dependencies of artifact in subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.list_artifact_dependencies
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved all dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactDependency'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/dependants:
    get:
      tags:
      - channels
      summary: Get all dependants of artifact in subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.list_artifact_dependants
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: successfully retrieved all dependants
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArtifactDependency'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/move:
    put:
      x-not-implemented: red
      tags:
      - channels
      summary: Move the artifact between two subchannels
      operationId: repo.endpoints.channels.subchannel_artifacts.move_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dest:
                  type: string
                  description: the destination subchannel to move this artifact to
      responses:
        '200':
          description: successfully moved the artifact to another subchannel
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
      deprecated: true
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/copy:
    put:
      x-not-implemented: red
      tags:
      - channels
      summary: Copy the artifact to another subchannel
      operationId: repo.endpoints.channels.subchannel_artifacts.copy_artifact
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dest:
                  type: string
                  description: the subchannel to copy the artifact to
      responses:
        '200':
          description: successfully copied the artifact to another subchannel
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
      deprecated: true
  /channels/{channel_name}/subchannels/{subchannel_name}/artifacts/{artifact_family}/{artifact_name}/download:
    get:
      x-not-implemented: red
      tags:
      - channels
      summary: Donwload the artifact from the subchannel
      description: download the artifact in the current subchannel specified by the artifact id
      operationId: repo.endpoints.channels.subchannel_artifacts.download_artifact_file
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/artifact_family-parameter'
      - $ref: '#/components/parameters/artifact_name-parameter'
      responses:
        '200':
          description: successfully found the resource to download
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: true
  /channels/{channel_name}/subchannels/{subchannel_name}/mirrors:
    get:
      tags:
      - channels
      summary: Get list of mirrors of the subchannel
      operationId: repo.endpoints.channels.subchannel_mirrors.list_mirrors
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      - $ref: '#/components/parameters/mirror-sort-query'
      responses:
        '200':
          description: get the subchannel mirrors
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Mirror'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    post:
      tags:
      - channels
      summary: Create a mirror in the subchannel
      operationId: repo.endpoints.channels.subchannel_mirrors.post_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/task-manager-schedule-query'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MirrorConfiguration'
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/mirrors/{mirror_id}:
    get:
      tags:
      - channels
      summary: Show mirror details in subchannel
      operationId: repo.endpoints.channels.subchannel_mirrors.get_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    put:
      tags:
      - channels
      summary: Update a mirror in subchannel
      operationId: repo.endpoints.channels.subchannel_mirrors.put_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      - $ref: '#/components/parameters/task-manager-schedule-query'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MirrorConfiguration'
      responses:
        '202':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mirror'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
    delete:
      tags:
      - channels
      summary: Delete the mirror from the subchannel
      operationId: repo.endpoints.channels.subchannel_mirrors.delete_mirror
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/mirror_id-parameter'
      responses:
        '204':
          description: successfully removed the mirror from the subchannel
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
  /channels/{channel_name}/subchannels/{subchannel_name}/history:
    get:
      tags:
      - channels
      summary: Get the history logs of the subchannel
      operationId: repo.endpoints.channels.subchannels.subchannel_history
      parameters:
      - $ref: '#/components/parameters/channel-parameter'
      - $ref: '#/components/parameters/subchannel-parameter'
      - $ref: '#/components/parameters/offset-query'
      - $ref: '#/components/parameters/limit-query'
      responses:
        '200':
          description: get the subchannel history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelHistory'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - jwt: []
      - user_token: []
components:
  schemas:
    ChannelType:
      description: channel type
      type: string
      default: default
      enum:
      - default
      - virtual
    CVENotificationsTimestamp:
      required:
      - timestamp
      additionalProperties: false
      type: object
      description: Timestamp for Generation of CVE Notifications
      properties:
        timestamp:
          type: string
          format: date-time
    ArtifactFamily:
      type: string
      enum:
      - anaconda_project
      - anaconda_env
      - cve
      - conda
      - python
      - cran
      - notebook
      - docker
      - sbom
    ChannelCreateRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          pattern: ^[a-z][a-z0-9_\-]*$
        description:
          type: string
        privacy:
          $ref: '#/components/schemas/ChannelPrivacy'
        channel_type:
          $ref: '#/components/schemas/ChannelType'
        indexing_behavior:
          $ref: '#/components/schemas/ChannelIndexingBehavior'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/VirtualChannelSource'
        filters:
          $ref: '#/components/schemas/ChannelFilters'
        settings:
          $ref: '#/components/schemas/ChannelSettings'
    CVE:
      type: object
      description: CVE information
      properties:
        id:
          type: string
          example: CVE-2019-9948
        description:
          type: string
          description: Text description of the vulnerability from the database
        score:
          type: number
          description: Maximum score of the CVE
        cvssv2_score:
          type: number
          description: CVSSv2 score of the CVE
        cvssv3_score:
          type: number
          description: CVSSv3 score of the CVE
        curated:
          type: boolean
          description: Indicates whether CVE has curated status
        packages_count:
          type: number
          description: Number of associated packages with this CVE
        packages:
          description: optionals
          type: array
          items:
            type: object
            properties:
              channel_name:
                type: string
                example: The Channel
              parent_channel_name:
                type: string
                example: The Root Channel
              cve_status:
                $ref: '#/components/schemas/CVE_status'
              artifact_family:
                $ref: '#/components/schemas/ArtifactFamily'
              artifact_type:
                type: string
                example: conda1
              ckey:
                type: string
                example: osx-64/numpy-1.1.1.conda
              common_name:
                type: string
                example: numpy
              blob_sha256:
                type: string
                example: 82cf9c932145565158eb8ee67dba369851210aab
              blob_size:
                type: string
                example: 1234
        published_at:
          description: date when the CVE has been published in NVD
          type: string
        nvd_modified_at:
          description: latest date when the CVE was updated in NVD
          type: string
        anaconda_modified_at:
          description: latest date when the CVE was curated by Anaconda
          type: string
        cvssv2:
          type: object
          properties:
            cvssV2:
              type: object
              properties:
                version:
                  type: string
                  example: 2.0
                vectorString:
                  type: string
                  example: AV:N/AC:L/Au:N/C:P/I:P/A:N
                accessComplexity:
                  type: string
                  example: LOW
                accessVector:
                  type: string
                  example: NETWORK
                authentication:
                  type: string
                  example: NONE
                availabilityImpact:
                  type: string
                  example: NONE
                baseScore:
                  type: string
                  example: 6.4
                confidentialityImpact:
                  type: string
                  example: PARTIAL
                integrityImpact:
                  type: string
                  example: PARTIAL
            exploitabilityScore:
              type: number
              example: 10.0
            impactScore:
              type: number
              example: 6.5
            severity:
              type: string
              example: MEDIUM
            obtainAllPrivilege:
              type: boolean
            obtainOtherPrivilege:
              type: boolean
            obtainUserPrivilege:
              type: boolean
            userInteractionRequired:
              type: boolean
        cvssv3:
          type: object
          properties:
            cvssV3:
              type: object
              properties:
                attackComplexity:
                  type: string
                  example: LOW
                attackVector:
                  type: string
                  example: NETWORK
                availabilityImpact:
                  type: string
                  example: NONE
                baseScore:
                  type: string
                  example: 9.1
                baseSeverity:
                  type: string
                  example: CRITICAL
                confidentialityImpact:
                  type: string
                  example: HIGH
                integrityImpact:
                  type: string
                  example: HIGH
                privilegesRequired:
                  type: string
                  example: NONE
                scope:
                  type: string
                  example: UNCHANGED
                userInteraction:
                  type: string
                  example: NONE
                vectorString:
                  type: string
                  example: CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:N
                version:
                  type: string
                  example: 3.0
            exploitabilityScore:
              type: number
              example: 10.0
            impactScore:
              type: number
              example: 6.5
        nvdv2:
          type: object
          additionalProperties: true
        reviews:
          type: array
          items:
            type: object
            additionalProperties: true
        cwes:
          type: array
          items:
            type: string
[...]
